

{%- if page.permalink == "/" -%}
    {%- for item in site.notes -%}
        {%- if item.season == 'summer' -%}
        <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
            <a href="{{item.url}}" style="text-decoration: none; color: #555555;">
            {%- if item.status == "Ongoing" or item.status == "ongoing" -%}
            <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
            <li style="padding: 0 5px; border-radius: 10px;" class="tag"><b>Status: </b>{{item.status | capitalize }}</li>
            </ul>
            <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
            {%- else -%}
                <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
                    <li style="padding: 0 5px; border-radius: 10px;" class="tag">{{item.tags[0]}}</li>
                </ul>
                <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
            {%- endif -%}
            <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 100}}</p>
            </a>
        </div>
        {%- endif -%}
    {%- endfor -%}
    {%- for item in site.notes -%}
        {%- if item.season == 'spring' -%}
        <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
            <a href="{{item.url}}" style="text-decoration: none; color: #555555;">
                {%- if item.status == "Ongoing" or item.status == "ongoing" -%}
                <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
                    <li style="padding: 0 5px; border-radius: 10px;" class="tag"><b>Status: </b>{{item.status | capitalize }}</li>
                </ul>
                <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
                {%- else -%}
                <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
                    <li style="padding: 0 5px; border-radius: 10px;" class="tag">{{item.tags[0]}}</li>
                </ul>
                <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
                {%- endif -%}
                <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 100}}</p>
            </a>
        </div>
        {%- endif -%}
    {%- endfor -%}
    {%- for item in site.notes -%}
        {%- if item.season == 'winter' -%}
        <div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
            <a href="{{item.url}}" style="text-decoration: none; color: #555555;">
                {%- if item.status == "Ongoing" or item.status == "ongoing" -%}
                <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
                    <li style="padding: 0 5px; border-radius: 10px;" class="tag"><b>Status: </b>{{item.status | capitalize }}</li>
                </ul>
                <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
                {%- else -%}
                <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
                    <li style="padding: 0 5px; border-radius: 10px;" class="tag">{{item.tags[0]}}</li>
                </ul>
                <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
                {%- endif -%}
                <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 100}}</p>
            </a>
        </div>
        {%- endif -%}
        {%- endfor -%}

    <div style="background-color:#f7f7f7;width:100%;height:40px;"></div>
    <div style="width: 100%;padding-left: 15px;">
        <div style="width: 512px;">
            <a class="twitter-timeline" href="https://twitter.com/djjruhe?ref_src=twsrc%5Etfw" data-tweet-limit="2">Tweets by djjruhe</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

{%- endif -%}

{%- if page.permalink == "/notes" -%}
{%- for item in site.notes -%}
<div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
    <a href="{{item.url}}" style="text-decoration: none; color: #333333;">
        <p class="feed-title">{{ item.title }}</p>
        <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 100 }}</p>
    </a>
</div>
{%- endfor -%}
{%- endif -%}

