<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header_post.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <script>
    function smoothScroll(target, duration) {
      var targetPosition = target.getBoundingClientRect().top;
      var startPosition = window.pageYOffset;
      var distance = targetPosition;
      var startTime = null;

      function animation(currentTime) {
        if (startTime === null) startTime = currentTime;
        var timeElapsed = currentTime - startTime;
        var run = ease(timeElapsed, startPosition, distance, duration);
        window.scrollTo(0, run);
        if (timeElapsed < duration) requestAnimationFrame(animation);
      }

      function ease(t, b, c, d) {
        t /= d / 2;
        if (t < 1) return c / 2 * t * t + b;
        t--;
        return -c / 2 * (t * (t - 2) - 1) + b;
      }

      requestAnimationFrame(animation);
    }

    document.querySelectorAll('a').forEach((link) => {
      link.onclick = function (e) {
        const href = this.getAttribute('href');
        if (href.startsWith('#')) {
          e.preventDefault();

          const targetId = href;
          const targetElement = document.querySelector(targetId);

          if (targetElement) {
            smoothScroll(targetElement, 500);
          }
        }
      };
    });
  </script>

  <script>
    function calculateReadingTime() {
      const posts = document.querySelectorAll('.post-content');
      posts.forEach(post => {
        const words = post.innerText.split(' ').length;
        const readingTime = Math.ceil(words / 200);
        document.getElementById('reading-time').innerText = `${readingTime} minutes.`;
      });
    }
    document.addEventListener('DOMContentLoaded', calculateReadingTime);
  </script>

</body>

</html>