---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% include about.html %}

  <hr class="section-hr">

  <div id="posts">
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <h1>Posts</h1>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.hidden != true -%}
      <a href="{{ post.url | relative_url }}">
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
            {{ post.title | escape }}
        </h3>
        {%- if site.show_excerpts -%}
          <p>
          {{ post.excerpt }}
          </p>
        {%- endif -%}
      </li>
      </a>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>

  <hr class="section-hr">

  <div id="publications">
  <h1>Selected Publications</h1>
  {% include publications.html %}
  <hr class="section-hr">
  </div>

  {% include cv.html %}

  <hr class="section-hr">

  {% include twitter.html %}


</div>
